- require_css 'views',true

.padding5
  = flash_info
.p
  = logo current_user,:medium
  = logo current_user,:normal
  = logo current_user,:tiny
  = logo current_user,:mini
- mindpin_form_for current_user,:url=>"/avatared",:method=>:put,:html=>{:multipart=>true} do |f|
  = f.file_field(:logo)
  = f.submit "上传图片"
