/=render :partial=>"preferences/cell_selector"

.cin
  = flash_info
  - mindpin_form_for current_user,:url=>"/account",:html=>{:method=>:put} do |f|
    %h2 基本信息设置
    = f.text_field(:name)
    .p
      = t('page.account.base.join_time')
      = created_at current_user
    = hr
    .p.indent
      = t('page.account.base.password_caption')
    .p
      %label= t('page.account.base.password')
      = password_field :user,:password,:value=>'',:maxlength=>32,:class=>'text'
    .p
      %label= t('page.account.base.password_confirmation')
      = password_field :user,:password_confirmation,:value=>'',:maxlength=>32,:class=>'text'
    = hr
    = f.submit t('page.account.base.from_submit')
